<style>
.vl {
  border-left: 1px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10;
}
</style>

<app-header></app-header>
<br><br>

<div class="row">
  <div class="col-md-4 col-md-border">
    <div class="card">
    <!-- image  -->
      <div class="card-body">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-2">
            <img src="./../../assets/static/placeholder.png" height="100" width="100" alt="placeholder">
          </div>
          <div class="col-md-1"></div>
        </div>

        <!-- details -->
        <br><br>
        <p><b><i>Full name</i></b><br>
          {{ name }}
          <br>
        <p><b><i>Email</i></b><br>
          {{ email }}
          <br>
        <p><b><i>Mobile</i></b><br>
          {{ mobile }}
          <br>
        <p><b><i>Address</i></b><br>
          {{ address }}

       </div>
      </div>
  </div>

  <div class="col-md-8">
    <div class="v1"></div>
    <p><b><i>About me</i></b><br>
      Hi, my name is {{name}}. Welcome to my profile!
      <br>
    <br>
    <p><b><i>I live here</i></b><br>
      <app-map></app-map>

    
  </div>
</div>