<style>
.vl {
  border-left: 1px solid black;
  height: 500px;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 10;
}
</style>

<app-header></app-header>
<br><br>
<div class="row">
  <div class="col-md-4 col-md-border">
    <!-- image  -->
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2">
        <img src="/./../placeholder.png" alt="placeholder">
      </div>
      <div class="col-md-1"></div>
    </div>

    <!-- details -->
    <p>Full name <br>
      -- insert name --
      <br>
    <p>Email<br>
      -- insert email --
      <br>
    <p>Mobile<br>
      -- insert mobile --
      <br>
    <p>Address<br>
      -- insert address --

  </div>

  <div class="col-md-8">
    <div class="v1"></div>
    <p>About me<br>
      -- a little bit about me --
      <br>
    <br>
    <p>I live here<br>
      <map></map>

    
  </div>
</div>